@{
    ViewBag.Title = "DangKyCTV";
    Layout = "~/Views/Shared/_HomeLayOut.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<body class="animsition">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <div class="regester-form">
                    <form action="@Url.Action("DangKyCTV", "DangNhapCTV")" id="regester" method="post">
                        <h1 class="form-heading" style="color :red">Đăng Kí Tài Khoản</h1>
                        <div class="form-group">
                            <input type="text" class="form-input" placeholder="Email đăng nhập">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" placeholder="Họ tên">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" placeholder="Số điện thoại">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" placeholder="Địa chỉ">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" placeholder="Trình độ làm việc">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" placeholder="Kinh nghiệm làm việc">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" placeholder="Mật khẩu">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" placeholder="Xác Nhận Mật khẩu">
                        </div>
                        @if (@ViewData["Loi"] != null)
                        {
                            <h5 style="color:red; font-size:18px; text-align:center"> @ViewData["Loi"] </h5>
                        }

                        <input type="submit" value="Đăng Kí" class="form-submit">
                    </form>
                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>

</body>

</html>
