@using Web_GiupViecNha.Areas.Admin.Models;

@{
    ViewBag.Title = "Phân quyền vai trò";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayOut.cshtml";

    List<ChucVu> dscv = ViewBag.DSChucVu;
}

<h3 class="title-5 m-b-35">data table</h3>
<div class="table-data__tool">
    <div class="table-data__tool-left">
        <div style="width:200px" class="rs-select2--light rs-select2--md">
            <select class="js-select2" id="property">
                <option selected="selected">Chọn chức vụ</option>
                @foreach (ChucVu cv in dscv)
                {

                    <option value="@cv.MaVaiTro">@cv.TenVaiTro</option>
                }


            </select>
            <div class="dropDownSelect2"></div>


        </div>

    </div>

</div>
<div class="table-responsive table-responsive-data2">
    <table class="table table-data2">
        <thead>
            <tr>
            
                <th>Mã chức năng</th>
                <th>Có quyền</th>
              
                <th></th>
            </tr>
        </thead>
        <tbody id="tblData">
            <tr class="tr-shadow">
         
            <tr class="spacer"></tr>

        </tbody>
    </table>
</div>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script type="text/javascript">

            $(document).ready(function () {
         
          
                $("#property").change(function () {

              
                    var machucvu = $(this).val();
                    $.ajax({
                        url: "loadDSManHinhTheoChucVu",
                        type: "GET",
                        dataType: "json",
                        data: {
                            machucvu: machucvu

                        },
                        success: function (rsp) {
                        
                            var data = rsp.data;
                            var html = '';
                            var checkstate;
                         
                            $.each(data, function (key, item) {
                           
                                    

                                if (item.CoQuyen) {
                                        
                                    checkstate = "checked";
                                }
                                else {
                                    checkstate = "";
                                }
                                html += '<tr>';
                                html += '<td>' + item.MaChucNang + '</td>';
                               
                                html += ' <td> ' + ' <label class=" au-checkbox"> <input data-macv="' + machucvu + '" data-macn="' + item.MaChucNang + '"  onclick="ktCheckbox(this);" type="checkbox" ' + checkstate + ' />     <span class="  au-checkmark">' + '</span> </label>';
                                +'</td>';

                                html += '</tr>';
                            })

                            $("#tblData").html(html);
                        },

                        error: function () {

                            alert("Chưa nhận data")

                        }

                    })




                })


      
            }

        


        );
            function ktCheckbox(checkbox) {

              
                var macn = $(checkbox).data('macn');
                var macv = $(checkbox).data('macv');
                var coquyen = checkbox.checked;
             

                    $.ajax({

                        url: "CapNhatChucNangVaiTro",
                        type: "POST",
                        dataType: "json",
                        data :{
                            macn: macn,
                            macv: macv,
                            coquyen: coquyen

                        },

                        success: function (result) {

                            if (result) {
                                Swal.fire({

                                    icon: 'success',
                                    title: 'Đã cập nhật chức năng',
                                    showConfirmButton: true,
                                    timer: 1500
                                })

                            }
                      

                        }


                    })


                }


            

        </script>
